html {
  box-sizing: border-box;
  font-family: Lato;
  background-color: #eee9de;
  max-width: 25em;
  display: inline-block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

p {
  text-align: center;
}

button {
  text-align: left;
}

button:hover {
  color: #666;
}
