html {
  box-sizing: border-box;
  font-family: Lato;
  background-color: #eee9de;
  max-width: 25em;
  display: inline-block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

p {
  text-align: center;
}

body {
  margin: 1.5rem;
  vertical-align: middle;
}

.btn {
  color: #333;
  text-align: left;
  text-decoration: none;
}

.btn:hover {
  color: #666;
}
