html {
  box-sizing: border-box;
  font-family: Lato;
  background-color: #eee9de;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
}

.img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.text {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

h2 {
  margin: 0;
}

section {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

p {
  text-align: left;
  line-height: 1.5;
  padding-top: .9em;
  margin-bottom: 1.5em;
}

body {
  margin: 0;
}

.btn {
  color: #333;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: #eee9de;
  text-align: left;
  text-decoration: none;
  border-radius: 6px;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  padding: .4em .75em .5em;
  display: inline-block;
}

.btn:hover {
  color: #666;
}
